name: "Sync releases"
on:
  workflow_dispatch:

jobs:
  sync-releases:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - uses: actions/checkout@v6
    
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: "25"
    
      - name: Run sync
        run: node sync-releases.js
    
      - name: Check for changes
        uses: tj-actions/verify-changed-files@v20
        id: changes
    
      - name: Push changes
        if: steps.changes.outputs.files_changed == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          git commit -m "chore: Sync releases information"
          git push